import { useState, useEffect } from 'react'


function {{component_name}}() {
    return (
        <div>
            {{component_name}}
        </div>
    )
}

export {
    {{component_name}} as default,
}

